{% extends 'base.html' %}
{% load static form_extras %}

{% block title %}{% if form.instance.pk %}Edit Department{% else %}Create Department{% endif %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            {% if form.instance.pk %}
                                Edit Department: {{ form.instance.name }}
                            {% else %}
                                Create New Department
                            {% endif %}
                        </h3>
                    </div>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                <strong>Please correct the errors below.</strong>
                                {% if form.non_field_errors %}
                                <div class="mt-2">{{ form.non_field_errors }}</div>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.name.id_for_label }}">Name <span class="text-danger">*</span></label>
                                        {{ form.name|add_error_class:"is-invalid"|add_class:"form-control" }}
                                        {% if form.errors.name %}<div class="invalid-feedback d-block">{{ form.errors.name.0 }}</div>{% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.code.id_for_label }}">Code <span class="text-danger">*</span></label>
                                        {{ form.code|add_error_class:"is-invalid"|add_class:"form-control" }}
                                        {% if form.errors.code %}<div class="invalid-feedback d-block">{{ form.errors.code.0 }}</div>{% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.description.id_for_label }}">Description</label>
                                        {{ form.description|add_error_class:"is-invalid"|add_class:"form-control" }}
                                        {% if form.errors.description %}<div class="invalid-feedback d-block">{{ form.errors.description.0 }}</div>{% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ form.parent_department.id_for_label }}">Parent Department</label>
                                        {{ form.parent_department|add_error_class:"is-invalid"|add_class:"form-select" }}
                                        {% if form.errors.parent_department %}<div class="invalid-feedback d-block">{{ form.errors.parent_department.0 }}</div>{% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.head_of_department.id_for_label }}">Head of Department</label>
                                        {{ form.head_of_department|add_error_class:"is-invalid"|add_class:"form-select" }}
                                        {% if form.errors.head_of_department %}<div class="invalid-feedback d-block">{{ form.errors.head_of_department.0 }}</div>{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-save"></i> Save Department
                                    </button>
                                    <a href="{% url 'departments:department_list' %}" class="btn btn-secondary">
                                        <i class="fas fa-arrow-left"></i> Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}